@{
    ViewData["Title"] = "Trending Movies";
    //@model List<GummyMeter.Models.MovieViewModel>
	@model GummyMeter.Models.MovieViewModel2
}


<div id="sliderContainer">
    @await Html.PartialAsync("_TrendingSlider", Model)
</div>

<div class="movie-items">
	<div class="container">
		<div class="row ipad-width">
			
			<div class="col-md-8">
				<div class="title-hd">
					<h2>Popular Movies</h2>
					<a href="/Movies/Category/popular" class="viewall">View all <i class="ion-ios-arrow-right"></i></a>
				</div>
				<div class="tabs">
					<div class="tab-content">
						<div id="tab1" class="tab active">
							<div class="row">
								<!-- add partial view -->
								@await Html.PartialAsync("_MovieCategories", Model.PopularMovies.Take(10).ToList())
							</div>
						</div>
					</div>
				</div>

				<div class="title-hd">
					<h2>Upcoming Movies</h2>
					<a href="/Movies/Category/upcoming" class="viewall">View all <i class="ion-ios-arrow-right"></i></a>
				</div>
				<div class="tabs">
					<div class="tab-content">
						<div id="tab1" class="tab active">
							<div class="row">
								<!-- add partial view -->
								@await Html.PartialAsync("_MovieCategories", Model.UpcomingMovies.Take(10).ToList())
							</div>
						</div>
					</div>
				</div>

				<div class="title-hd">
					<h2>Top Rated Movies</h2>
					<a href="/Movies/Category/toprated" class="viewall">View all <i class="ion-ios-arrow-right"></i></a>
				</div>
				<div class="tabs">
					<div class="tab-content">
						<div id="tab1" class="tab active">
							<div class="row">
								<!-- add partial view -->
								@await Html.PartialAsync("_MovieCategories", Model.TopRatedMovies.Take(10).ToList())
							</div>
						</div>
					</div>
				</div>

			</div>
			<div class="col-md-4">
				<div class="sidebar">
					<div class="ads">
						<img src="images/uploads/ads1.png" alt="" width="336" height="296">
					</div>
					<div class="ads">
						<img src="images/uploads/ads1.png" alt="" width="336" height="296">
					</div>
				 	<div class="ads">
						<img src="images/uploads/ads1.png" alt="" width="336" height="296">
					</div> 
					
					

					
				</div>
			</div>

		</div>
		
	</div>
</div>



@section Scripts {
	<script>
		function loadCategory(action) {
			// $.ajax({
			// 	  type: "GET",
			// 	  url:`/Movies/${action}`,
			// 	  async: true,
			// 	  cache: false,
			// 	  dataType: "html",
			// 	  success: function (data, textStatus, jqXHR) {
			// 		$("#sliderContainer1").inn(data);
			// 	  },
			// 	  error: function (jqXHR, textStatus, errorThrown) {
			// 		alert(textStatus + " - " + errorThrown);
			// 	  }
			// 	});

			console.log('Loading category: ' + action); 
			fetch(`/Movies/${action}`)
				.then(response => {
					if (!response.ok) throw new Error('Fetch failed');
					return response.text();
				})
				.then(html => {
					 $("#sliderContainer1").html(html);
					document.getElementById('sliderContainer1').innerHTML = html;
					rebindSliderStuff(); 
				})
				.catch(error => console.error('Fetch error:', error));
		}

		
	</script>


}
