
@model GummyMeter.Models.MovieViewModel2

<div class="slider movie-items">
    <div class="container">
        <div class="row">
           
            <div class="social-link">
                
               
                <p>Follow us: </p>
                <a href="#"><i class="ion-social-facebook"></i></a>
                <a href="#"><i class="ion-social-twitter"></i></a>
                <a href="#"><i class="ion-social-googleplus"></i></a>
                <a href="#"><i class="ion-social-youtube"></i></a>
            </div>
            <h2 style="color:white;">What's trending</h2>
            <div class="slick-multiItemSlider">
                @foreach (var movie in Model.TrendingMovies)
                {
                    <div class="movie-item">
                        <div class="mv-img">
                            <a href="/Movies/Details/@movie.Id">
                                <img src="@(movie.PosterPath != null ? $"https://image.tmdb.org/t/p/w500/{movie.PosterPath}" : "https://via.placeholder.com/285x437?text=No+Image")" width="285" height="437" class="card-img-top" alt="@movie.Title" loading="lazy" />
                                @* <img src="images/uploads/slider1.jpg" alt="" width="285" height="437"> *@
                            </a>
                        </div>
                        <div class="title-in">
                            <div class="cate">
                                <span class="blue"><a href="#">Sci-fi</a></span>
                            </div>
                            <h6><a href="/Movies/Details/@movie.Id">@movie.Title</a></h6>
                            <p>
                                <i class="ion-android-star"></i><span>@movie.VoteAverage</span> /10
                            </p>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>